// =========================================================================
// VARIABLES
// =========================================================================



$base-font-size: 16px;
$base-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$web-font-family: 'canada-type-gibson';
$base-border-radius: rem(4);




// Colors
// --------------------------------------------------------------------------

$color-black:               #000;
$color-white:               #fff;

$color-red:                 #bf2726;
$color-dark-gray:           #212738;
$color-gray:                #666;
$color-light-gray:          #eceff3;
$color-med-gray:            #808080;
$color-blue:                #1565c0;
