<div class="product">
  <div class="wrapper">
    <svg class="product__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 45.973">
      <use xlink:href="#ironbench-logo"></use>
    </svg>
    <div class="product__desc">
      <h2>Access Manager</h2>
      <h3>The best way to secure Linux assets on your networks.</h3>
      <p>Access Manager is the only security management tool designed to centrally secure and manage Linux assets. Without Access Manager your networks are vulnerable to exploitation by the Linux machines themselves, let alone the people using them.</p>
    </div>
    <div class="product__info">
      <h4>Common Challenges with Linux Security Management</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-lock"></use>
          </svg>
          Unable to ensure disk encryption for a computer that is lost or stolen.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-trash"></use>
          </svg>
          No way to remotely wipe a disk in a computer that is lost or stolen.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-rotate"></use>
          </svg>
          Unable to automatically rotate encryption keys.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-no"></use>
          </svg>
          No way to access an encrypted drive if the password is forgotten.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__callout wrapper">
    <div class="callout">
      <p><strong>IronBench Access Manager</strong> is the best way to centrally enforce your organization's information security policy and ensure your Linux assets are protected throughout the enterprise.</p>
      <svg class="callout__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 63.633">
        <use xlink:href="#icon-shield"></use>
      </svg>
      <a class="callout__btn btn btn--icon" href="{{ site.url }}/ironbench-access-manager-brochure.pdf" download="ironbench-access-manager.pdf">
        <svg class="btn__icon ui-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
          <use xlink:href="#icon-download"></use>
        </svg>
        <span class="btn__text">Download PDF</span>
      </a>
    </div>
  </div>
</div>
