<div class="product">
  <div class="product__intro wrapper">
    <svg class="product__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 45.973">
      <use xlink:href="#ironbench-logo"></use>
    </svg>
    <div class="product__desc">
      <h2>Cloud Config</h2>
      <h3>A secure foundation for cloud operations.</h3>
      <p>Cloud Config significantly reduces your cloud adoption schedule and cost. Some companies will spend months internally debating individual cloud tools, trying to figure out how they all work together or wondering if their efforts will lead to a secure, standards compliant enterprise framework. Cloud Config provides a secure, centrally-managed, replicable, enterprise cloud framework in <strong>less than a day</strong>.</p>
    </div>
    <div class="product__info">
      <h4>Common Challenges with Cloud Adoption & Administration</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-lock"></use>
          </svg>
          Unfamiliar with how to implement safe, secure, standards-based cloud solutions, and struggle with PCI, SOX, HIPAA compliance.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-continuous"></use>
          </svg>
          Complications with setting up continuous testing, integration, and delivery cycles.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-cloud-question"></use>
          </svg>
          Unanticipated challenges in learning cloud tools and processes.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-dollar-sign"></use>
          </svg>
          Schedule slippage and cost overruns due to inexperience with configuring end-to-end cloud solutions.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__advantage wrapper">
    <div class="advantage">
      <h4>The Cloud Config Advantage</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Standards Compliance</h4>
          CIS compliant platform to support your needs in regard to PCI, SOC, and HIPAA compliance.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Identity & Access Management</h4>
          Secure access control using your existing directory service or an AWS service — you choose the option that works best for you.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Application Hosting</h4>
          Enterprise application management with all the services you need to host everything your organization has to offer.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Continuous Integration / Continuous Deployment</h4>
          Opensource automation server configuration that provides a managed continuous integration and continuous deployment process.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Network Security</h4>
          Secure network management that adapts to the way you conduct operations.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Logging & Analytics</h4>
          Secure, flexible approach to logging and analytics using the best tools available.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Dependency Risk Mitigation</h4>
          Self-contained environment with fast, secure access to fundamental items across instances.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__callout wrapper">
    <div class="callout">
      <svg class="callout__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 63.633">
        <use xlink:href="#icon-white-shield"></use>
      </svg>
      <p><strong>Cloud Config</strong> is the fastest way to implement AWS best-practices and information security for the enterprise.</p>
    </div>
  </div>
</div>
