<div class="product">
  <div class="wrapper">
    <svg class="product__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 45.973">
      <use xlink:href="#ironbench-logo"></use>
    </svg>
    <div class="product__desc">
      <h2>Cloud Config</h2>
      <h3>A secure foundation for cloud operations.</h3>
      <p>Cloud Config significantly reduces your cloud adoption time and cost. Some companies will spend spend months internally debating individual cloud tools, trying to figure out how they all work together or wondering if your efforts will lead to a secure, standards compliant enterprise framework? Cloud Config provides a secure, replicatable, enterprise cloud framework in <strong>less than a day</strong>. Cloud Config reduces friction and increases adoption velocity all while implementing information security best-practices consistently across your enterprise.</p>
    </div>
    <div class="product__info">
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-profile"></use>
          </svg>
          <h4>Identity & Access Management</h4>
          Secure access control using your existing directory service or an AWS service — you choose the option that works best for you.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-server"></use>
          </svg>
          <h4>Application Hosting</h4>
          Enterprise application management with all the services you need to host everything your organization has to offer.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-graph"></use>
          </svg>
          <h4>Logging & Analytics</h4>
          Secure, flexible approach to logging and analytics using the best tools available.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-lock"></use>
          </svg>
          <h4>Network Security</h4>
          Secure network management that adapts to the way you conduct operations.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__callout wrapper">
    <div class="callout">
      <p><strong>IronBench Cloud Config</strong> is the fastest way to implement AWS best-practices and information security for the enterprise.</p>
      <svg class="callout__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 63.633">
        <use xlink:href="#icon-shield"></use>
      </svg>
      <a class="callout__btn btn btn--icon" href="{{ site.url }}/ironbench-cloud-config-brochure.pdf" download="ironbench-cloud-config.pdf">
        <svg class="btn__icon ui-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
          <use xlink:href="#icon-download"></use>
        </svg>
        <span class="btn__text">Download PDF</span>
      </a>
    </div>
  </div>
</div>
