<div class="product">
  <div class="product__intro wrapper">
    <svg class="product__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 45.973">
      <use xlink:href="#ironbench-logo"></use>
    </svg>
    <div class="product__desc">
      <h2>Cloud Config</h2>
      <h3>A secure foundation for cloud operations.</h3>
      <p>Cloud Config significantly reduces your cloud adoption schedule and cost. Some companies will spend months internally debating individual cloud tools, trying to figure out how they all work together or wondering if their efforts will lead to a secure, standards compliant enterprise framework. Cloud Config provides a secure, centrally-managed, replicable, enterprise cloud framework in <strong>less than a day</strong>.</p>
    </div>
    <div class="product__info">
      <h4>Common Challenges with Cloud Adoption & Administration</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-lock"></use>
          </svg>
          Unfamiliar with how to implement safe, secure, standards-based cloud solutions, and struggle with PCI, SOX, HIPAA compliance.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-continuous"></use>
          </svg>
          Complications with setting up continuous testing, integration, and delivery cycles.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-cloud-question"></use>
          </svg>
          Unanticipated challenges in learning cloud tools and processes.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-dollar-sign"></use>
          </svg>
          Schedule slippage and cost overruns due to inexperience with configuring end-to-end cloud solutions.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__advantage wrapper">
    <div class="advantage">
      <h4>The Cloud Config Advantage</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Standards Compliance</h4>
          CIS compliant platform to support your needs in regard to PCI, SOX, and HIPAA compliance.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Identity & Access Management</h4>
          Secure access control using your existing directory or cloud service — you choose the option that works best for you.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Application Hosting</h4>
          Enterprise application management with all the services you need to host everything your organization has to offer.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Continuous Integration / Continuous Deployment</h4>
          Opensource automation server configuration that provides a managed continuous integration and continuous deployment process.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Network Security</h4>
          Secure network management that adapts to the way you conduct operations.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Logging & Analytics</h4>
          Secure, flexible approach to logging and analytics using the best tools available.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Dependency Risk Mitigation</h4>
          Self-contained environment with fast, secure access to fundamental items across instances.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__callout wrapper">
    <div class="callout">
      <svg class="callout__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 63.633">
        <use xlink:href="#icon-white-shield"></use>
      </svg>
      <p><strong>Cloud Config</strong> is the fastest way to implement cloud best-practices and information security for the enterprise.</p>
    </div>
  </div>
</div>
<div class="enterprise wrapper">
  <h3>Enterprise Model with Bundled Services</h3>
  <ul>
    <li>
      <svg class="ui-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <use xlink:href="#icon-shield"></use>
      </svg>
      <span class="desc">We are your partner, not a walk-away vendor</span>
    </li>
    <li>
      <svg class="ui-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <use xlink:href="#icon-shield"></use>
      </svg>
      <span class="desc">We favor discussion accompanied by hands-on keyboard time over just discussion</span>
    </li>
    <li>
      <svg class="ui-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <use xlink:href="#icon-shield"></use>
      </svg>
      <span class="desc">We favor an implementation that makes sense for your teams and culture</span>
    </li>
  </ul>
</div>
<div class="plans wrapper">
  <h2 class="section-subhead">Support and Updates</h2>
  <ul class="plan-cards">
    <li class="plan-cards__card">
      <div class="plan-cards__card-title">
        Basic
      </div>
      <div class="plan-cards__card-body">
        <h4>Free Platform Updates <b>(during the first year)</b></h4>
        <dl>
          <dt>Support</dt>
          <dd>Email, phone, and chat</dd>
          <dd>Available during <strong>business hours</strong></dd>
          <dd><strong>5 day</strong> response time</dd>
        </dl>
      </div>
    </li>
    <li class="plan-cards__card">
      <div class="plan-cards__card-title">
        Silver
      </div>
      <div class="plan-cards__card-body">
        <h4>Free Platform Updates</h4>
        <dl>
          <dt>Support</dt>
          <dd>Email, phone, and chat</dd>
          <dd>Available during <strong>business hours</strong></dd>
          <dd><strong>3 day</strong> response time</dd>
        </dl>
      </div>
    </li>
    <li class="plan-cards__card">
      <div class="plan-cards__card-title">
        Gold
      </div>
      <div class="plan-cards__card-body">
        <h4>Free Platform Updates</h4>
        <dl>
          <dt>Support</dt>
          <dd>Email, phone, and chat</dd>
          <dd>Available during <strong>business hours</strong></dd>
          <dd><strong>1 day</strong> response time</dd>
        </dl>
      </div>
    </li>
    <li class="plan-cards__card plan-cards__card--highlight">
      <div class="plan-cards__card-title">
        Platinum
      </div>
      <div class="plan-cards__card-body">
        <h4>Free Platform Updates</h4>
        <dl>
          <dt>Support</dt>
          <dd>Email, phone, and chat</dd>
          <dd>Available <strong>24x7</strong></dd>
          <dd><strong>4 hour</strong> response time</dd>
        </dl>
      </div>
    </li>
  </ul>
  <h5 class="header-footnote">(multi-year discounts available for some plans)</h5>
  <div class="plans-callout">
    <h5>Contact Us for Pricing</h5>
    <h4><a href="#contact">Get in Touch</a></h4>
    <h6>Updates apply only to previously purchased modules</h6>
    <h6>Business hours are Central Standard Time (CST)</h6>
  </div>
</div>
