<div class="product">
  <div class="product__intro wrapper">
    <svg class="product__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 45.973">
      <use xlink:href="#ironbench-logo"></use>
    </svg>
    <div class="product__desc">
      <h2>Compliance Navigator</h2>
      <h3>The easiest way to establish a solid compliance program for your organization.</h3>
      <p>Compliance Navigator is the only compliance management tool that guides you through the process of identifying standards that apply to you and prioritizing your activities so you address the most important things first. Without Compliance Navigator you could be wasting time and money on risks that are less relevant or even inapplicable to your business.</p>
    </div>
    <div class="product__info">
      <h4>Common Challenges with starting and maintaining a compliance program</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-question"></use>
          </svg>
          Unsure what compliance standards apply to your organization or when.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-checkmark"></use>
          </svg>
          Unsure what it takes to implement a regulatory compliance program.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-checklist"></use>
          </svg>
          No good way to track compliance-related activities against applicable standards.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-change"></use>
          </svg>
          Unaware when changes in standards may impact your organization's compliance.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__advantage wrapper">
    <div class="advantage">
      <h4>The Compliance Navigator Advantage</h4>
      <ul class="icon-list">
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Standards Applicability</h4>
          Compliance Navigator learns about you and guides you to the standards that are appropriate for your organization.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Activity Tracking</h4>
          Log your actions taken in regard to applicable standards and attach applicable documentation as you see fit.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Compliance Program Templates</h4>
          Jump-start your compliance program with professional templates that help you establish a solid compliance plan.
        </li>
        <li class="icon-list__item">
          <svg class="ui-icon icon-list__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <use xlink:href="#icon-shield"></use>
          </svg>
          <h4>Updated Standards Notification</h4>
          Stay on top of changes that affect your organization with automatic notification when standards updates are published.
        </li>
      </ul>
    </div>
  </div>
  <div class="product__callout wrapper">
    <div class="callout">
      <p><strong>IronBench Compliance Navigator</strong> is the best way to quickly establish your compliance program and stay current as standards and regulations change.</p>
      <svg class="callout__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 63.633">
        <use xlink:href="#icon-white-shield"></use>
      </svg>
      </a>
    </div>
  </div>
</div>
