// ==========================================================================
// BUTTONS
//
// components/_buttons.scss
// ==========================================================================



@mixin button($color1, $color2) {
  background: $color2;
  color: $color1;

  &:hover,
  &:focus {
    background-color: shade($color2, 20%);
    color: $color1;
    text-decoration: none;
  }
}



.btn {
  @include button($color-white, $color-red);
  @include font-smoothing;
  display: inline-block;
  height: rem(40);
  padding: 0 rem(15);
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: rem(40);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}



// Wide
// -------------------------------------

.btn--wide {
  width: 100%;
}



// Color variations
// -------------------------------------

.btn--outline {
  @include button($color-white, transparent);
  border: 1px solid $color-white;
  line-height: rem(38); // account for border width
}



// Icon
// -------------------------------------

.btn--icon {
  @include button($color-white, $color-red);
}

.btn--icon .btn__icon {
  display: inline-block;
  width: rem(22);
  margin-right: rem(5);
  fill: $color-white;
  vertical-align: middle;
}

.btn--icon .btn__text {
  display: inline-block;
  vertical-align: middle;
}
