// =========================================================================
// PRODUCT
// =========================================================================



.callout {
  @include font-smoothing;
  @include clearfix;
  position: relative;
  padding: rem(50) rem(20) rem(20);
  background: $color-dark-gray;
  color: $color-white;
  font-size: rem(24);

  @include at-least(medium) {
    padding: rem(30);
  }

  @include at-least(large) {
    padding: rem(50);
    font-size: rem(34);
  }
}

.callout__icon {
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  width: rem(46);
  margin-left: -(rem(23));
  transform: translateY(-50%);
  fill: $color-red;
}

.callout__btn {
  margin-top: rem(15);
  float: right;
}

.callout > p {
  margin: 0;
}
