// =========================================================================
// ICONS
// =========================================================================



.ui-icon {
  display: block;
  width: rem(36);
  height: rem(36);
}
