// =========================================================================
// ICONS
// =========================================================================



// Icon list
// --------------------------------------------------------------------------

.icon-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-list__item {
  position: relative;
  margin-bottom: rem(20);
  padding: rem(3) 0 0 rem(40);
}

.icon-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(27);
  height: rem(27);
}

.icon-list__item > h4 {
  margin: 0 0 .25em;
}
