// ==========================================================================
// PLANS
//
// components/_plans.scss
// ==========================================================================



.plans.wrapper {
  max-width: rem(1400);
}

.plans .section-subhead {
  margin-bottom: rem(50);
}

.plan-cards {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include at-least(large) {
    flex-flow: row nowrap;
  }
}

.plan-cards__card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: rem(350);
  margin: 0 auto;
  margin-bottom: rem(20);
  border: 1px solid $color-light-gray;

  @include at-least(large) {
    width: calc(25% - 10px);
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plan-cards__card-title {
  padding: rem(30) rem(15);
  background: $color-light-gray;
  font-size: rem(24);
  font-weight: 600;
  text-align: center;
}

.plan-cards__card--highlight .plan-cards__card-title {
  background: $color-blue;
  color: $color-white;
}

.plan-cards__card-body {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: rem(50) rem(25);
  text-align: center;
}

%card-body-header {
  margin: 0;
  font-size: rem(18);
  font-weight: 600;
  text-transform: uppercase;
}

.plan-cards__card-body > h4 {
  @extend %card-body-header;
  margin-bottom: 1em;
}

.plan-cards__card-body > h4 > b {
  display: block;
  font-weight: 400;
  text-transform: initial;
}

.plan-cards__card-body > dl {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: rem(18);
}

.plan-cards__card-body > dl > dt,
.plan-cards__card-body > dl > dd {
  margin: 0;
  padding: 0;
}

.plan-cards__card-body > dl > dt {
  @extend %card-body-header;
}

.plan-cards__card-body > dl > dd {
  color: $color-med-gray;
}

.plans-callout {
  margin: 0 0 rem(100);
  padding-top: rem(75);
  text-align: center;
}

.plans-callout a {
  color: $color-blue;
}

.plans-callout > h4,
.plans-callout > h5,
.plans-callout > h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

.plans-callout > h5 {
  font-size: rem(36);
}

.plans-callout > h4 {
  margin-bottom: rem(30);
  font-size: rem(48);
  font-weight: 600;
  line-height: 1.3;
}

.plans-callout > h6 {
  font-size: rem(16);
  font-style: italic;
  line-height: 1.4;
}
