// =========================================================================
// GRID
// =========================================================================



.wrapper {
  @include clearfix;
  padding: rem(20);

  @include at-least(medium) {
    max-width: rem(1790);
    margin: 0 auto;
    padding: rem(20) rem(40);
  }
}
