// =========================================================================
// SPONSOR
// =========================================================================


.sponsor {
  display: block;
  margin: rem(10) 0;
  color: $color-med-gray;
  text-align: center;
  text-decoration: none;
}

.sponsor + .sponsor {
  margin-bottom: rem(80);

  @include at-least(medium) {
    margin-bottom: rem(120);
  }
}

.sponsor__img {
  max-width: 100%;
  display: inline-block;
  margin: rem(10) 0 0;
}
