// =========================================================================
// SPONSOR
// =========================================================================


.sponsor {
  display: block;
  margin: rem(20) 0 rem(80);
  color: $color-med-gray;
  text-align: center;
  text-decoration: none;

  @include at-least(medium) {
    margin-bottom: rem(120);
  }
}

.sponsor__img {
  display: inline-block;
  margin: rem(10) 0 0;
}
