// =========================================================================
// SPONSOR
// =========================================================================


.sponsor {
  margin: rem(20) 0 rem(80);
  text-align: center;

  @include at-least(medium) {
    margin-bottom: rem(120);
  }
}

.sponsor__img {
  display: inline-block;
  margin: rem(10) 0 0;
}
